apturl==0.5.2
asttokens==2.4.1
attrs==24.2.0
Babel==2.8.0
beautifulsoup4==4.11.1
blinker==1.9.0
Brlapi==0.8.3
bs4==0.0.1
certifi==2022.6.15
cffi==1.15.0
chardet==5.0.0
charset-normalizer==2.1.1
click==8.2.1
colorama==0.4.4
comm==0.2.2
command-not-found==0.3
contourpy==1.3.0
cryptography==3.4.8
cupshelpers==1.0
cycler==0.12.1
dbus-python==1.2.18
debugpy==1.8.6
decorator==5.1.1
defer==1.0.6
dirsearch==0.4.2
distro==1.7.0
distro-info==1.1+ubuntu0.2
dnspython==2.2.1
EditorConfig==0.12.4
exceptiongroup==1.2.2
executing==2.1.0
exrex==0.10.5
fire==0.4.0
Flask==3.1.1
flask-cors==6.0.1
fonttools==4.54.1
future==0.18.2
fuzzywuzzy==0.18.0
gunicorn==23.0.0
gyp==0.1
h11==0.14.0
httplib2==0.20.2
idna==3.3
importlib-metadata==4.6.4
ipykernel==6.29.5
ipython==8.28.0
itsdangerous==2.2.0
jedi==0.19.1
jeepney==0.7.1
Jinja2==3.1.6
joblib==1.5.1
jsbeautifier==1.15.1
jupyter_client==8.6.3
jupyter_core==5.7.2
keyring==23.5.0
kiwisolver==1.4.7
language-selector==0.1
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
loguru==0.6.0
louis==3.20.0
lxml==5.3.0
macaroonbakery==1.3.1
MarkupSafe==3.0.2
matplotlib==3.9.2
matplotlib-inline==0.1.7
more-itertools==8.10.0
mpmath==1.3.0
nest-asyncio==1.6.0
netaddr==1.3.0
netifaces==0.11.0
ntlm-auth==1.4.0
numpy==2.1.3
oauthlib==3.2.0
olefile==0.46
outcome==1.3.0.post0
packaging==24.1
pandas==2.2.3
parso==0.8.4
pexpect==4.8.0
Pillow==9.0.1
platformdirs==4.3.6
ply==3.11
prompt_toolkit==3.0.48
protobuf==3.12.4
psutil==6.0.0
ptyprocess==0.7.0
pure_eval==0.2.3
pycairo==1.20.1
pycparser==2.21
pycups==2.0.1
pygame==2.6.1
Pygments==2.18.0
PyGObject==3.42.1
PyJWT==2.3.0
pymacaroons==0.13.0
PyNaCl==1.5.0
pyparsing==2.4.7
pyRFC3339==1.1
PySocks==1.7.1
python-apt==2.4.0+ubuntu4
python-dateutil==2.9.0.post0
python-debian==0.1.43+ubuntu1.1
pytz==2022.1
PyVirtualDisplay==3.0
pyxdg==0.27
PyYAML==5.4.1
pyzmq==26.2.0
reportlab==3.6.8
requests==2.28.1
requests-file==2.1.0
requests-ntlm==1.1.0
scikit-learn==1.7.0
scipy==1.15.3
seaborn==0.13.2
SecretStorage==3.3.1
selenium==4.25.0
six==1.16.0
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.3.2
SQLAlchemy==1.3.22
stack-data==0.6.3
sympy==1.13.3
systemd-python==234
tenacity==8.0.1
termcolor==1.1.0
threadpoolctl==3.6.0
tornado==6.4.1
tqdm==4.64.0
traitlets==5.14.3
treelib==1.6.1
trio==0.26.2
trio-websocket==0.11.1
typing_extensions==4.12.2
tzdata==2024.2
ubuntu-drivers-common==0.0.0
ubuntu-pro-client==8001
ufw==0.36.1
unattended-upgrades==0.1
urllib3==1.26.9
wadllib==1.3.6
wcwidth==0.2.13
websocket-client==1.8.0
Werkzeug==3.1.3
win32-setctime==1.1.0
wsproto==1.2.0
xdg==5
xkit==0.0.0
zipp==1.0.0
